<div class="row" style="margin-top: -40px;">
  <div class="col-md-8 col-md-offset-2" id="search-form">
    <h1 class="text-center">Booking info</h1>
    <table class="table table-striped table-bordered">
      <thead>
      <tr>
        <th>Flight ID</th>
        <th>Date</th>
        <th>Time</th>
        <th>Passengers</th>
        <th>Departure</th>
        <th>Destination</th>
        <th>Price</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td><%= @flight.id %></td>
        <td><%= @flight.date.strftime("%d/%m/%Y") %></td>
        <td><%= @flight.date.strftime("%H:%m") %></td>
        <td><%= params[:passenger_count] %></td>
        <td><%= @flight.from_airport.code %></td>
        <td><%= @flight.to_airport.code %></td>
        <td><%= @flight.price %> &euro;</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>

<% passenger_count = 1 %>
<br/>
<div id="success-notice" class="col-md-6 col-md-offset-3"></div>
<div id="errors_for_form" class="col-md-6 col-md-offset-3" style="padding-top: 20px;"></div>
<div class="row">

  <div class="col-md-6 col-md-offset-3" id="booking-form">
    <%= form_for @booking, remote: true do |booking| %><br/>


        <%= booking.fields_for :passengers do |passenger| %>

            <div class="row">
              <h5 class="text-center" style="font-size: 1.5em;">Passenger <%= passenger_count.to_s%></h5><br/>
              <div class="col-md-10 col-md-offset-1 well" style="margin-top:20px;">

                <% passenger_count += 1 %>
                <%= passenger.label :name %> <br/>
                <%= passenger.text_field :name, class: 'form-control' %><br/>

                <%= passenger.label :email %> <br/>
                <%= passenger.text_field :email, class: 'form-control' %><br/>
                <hr style="padding-bottom: 15px;"/>

              </div>
            </div>


        <% end %>
        <%= booking.hidden_field :flight_id, value: @flight.id %>


        <%= booking.submit "Confirm", class: 'form-control btn btn-primary', id: 'confirm-btn' %>

    <% end %>
  </div>
</div>